

h1 {
    background-color: #cbcaca;
    color: black;
    font-size: 36px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.hbar1 {
    display: inline;
    margin: 15px;
}

.center {
    text-align: center;
}

.btn {
    margin-top: 20px;
}

.bodyContainer {
    padding: 20px;
}
