<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      href="{% static 'newdjangoProject/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'newdjangoProject/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'newdjangoProject/style.css' %}"
    />
    <title>E-Learning WebApp - {% block title %}Welcome!{% endblock %}</title>
  </head>
  <body style="height: 100vh">
    <nav
      class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
      style="background-color: #3e4c66 !important"
    >
      <a
        class="navbar-brand"
        target=""
        href="{% url 'index' %}"
        style="margin-left: 30px"
      >
        <img
          src="{% static 'newdjangoProject/images/test3.png' %}"
          alt="Listd"
          style="height: 65px"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}"
              >Topics <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'courses' %}"
              >Courses <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}"
              >About <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <h2 class="navbar-text" style="color: white">
          {% block myhdg %}Hello User {% endblock %}
        </h2>
        <ul class="navbar-nav ml-auto">
          {% if request.session.last_login %}

          <li class="nav-item active">
            <a
              class="nav-link"
              href="{% url 'myorders' %}"
              id="logout"
              data-busy="href"
              >My Orders <span class="sr-only"></span
            ></a>
          </li>
          <li class="nav-item active">
            <a
              class="nav-link"
              href="{% url 'myaccount' %}"
              id="logout"
              data-busy="href"
              >My Account <span class="sr-only"></span
            ></a>
          </li>

          <li class="nav-item active">
            <a
              class="nav-link"
              href="{% url 'user_logout' %}"
              id="logout"
              data-busy="href"
              >Logout <span class="sr-only"></span
            ></a>
          </li>

          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user_login' %}"
              >Login <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'register' %}"
              >Register <span class="sr-only">(current)</span></a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container" style="min-height: 100%; margin-bottom: -50px">
      <!-- The closing div is in foot.ejs -->
      <div class="col-md-12 feedback" id="feedback">
        <h3>Working...&nbsp;&nbsp;&nbsp;<span></span></h3>
      </div>

      <section id="busy" class="feedback">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
      </section>
      <p id="download-continue" class="feedback"><a href="/">Continue</a></p>

      <div class="bodyContainer">{% block body_block %}*** {% endblock %}</div>
    </div>

    <footer
      class="bg-light text-center text-lg-start mt-auto"
      style="height: 50px"
    >
      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="background-color: #f7f7f7; border-top: 1px solid #ececec"
      >
        <ul>
          <li class="hbar1">
            <a href="/myapp/about/">Find out about our ELearning site</a>
          </li>
          <li class="hbar1">
            <a href="{% url 'index' %}">Click here to return to main page</a
            >
          </li>
          {% if request.session.last_login %}
            <li>
                Last Logged In at : {{ request.session.last_login }}
            </li>
          {% endif %}
            <br />
        </ul>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
