{% block course-list %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Interested</th>
    </tr>
  </thead>
  <tbody>
    {% if course_list %} {% for course in course_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{course.name}}</td>
      <td>
        {% if course.description %} {{course.description}} {% else %} Not
        Available {% endif %}
      </td>
      <td>${{course.price}}</td>
      <td>{{course.interested}}</td>
    </tr>
    {% endfor %} {% else %}
    <td colspan="4">There are no available courses!</td>
    {% endif %}
  </tbody>
</table>

{% endblock %}
