{% extends 'newdjangoProject/base.html' %}
{% block body_block %}
    <a href="{% url 'placeorder' %}">New Order</a>
    <h2>My Orders</h2>
        {% if orders %}
            <table>
                <thead>
                    <th>
                        Order Course
                    </th>
                    <th>
                        Levels
                    </th>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                {{ order.course.name}}
                            </td>
                            <td>
                                {{ order.levels}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There are no orders!</p>
        {% endif %}

{% endblock %}
