{% extends 'newdjangoProject/base.html' %}
{% block body_block %}

    <div class="form_container">
        <form action="{% url "register" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>{{ msg }}</h2>
            <div class="mb-3">
                <label for="formFile" class="form-label" style="display: block;">
                    <h4 style="margin-bottom: 2rem;">Register Form</h4>
                </label>

                <label for="username" class="form-label" style="display: block;">
                    <h4> Username </h4>
                    {{  form.username }}
                </label>

                <label for="username" class="form-label" style="display: block;">
                    <h4> Email </h4>
                    {{  form.email }}
                </label>

                <label for="first_name" class="form-label" style="display: block;">
                    <h4> First Name </h4>
                    {{  form.first_name }}
                </label>

                <label for="lastname" class="form-label" style="display: block;">
                    <h4> Last Name </h4>
                    {{  form.last_name }}
                </label>

                <label for="password" class="form-label" style="display: block;">
                    <h4> Password </h4>
                    {{  form.password1 }}
                </label>

                <label for="password confirm" class="form-label" style="display: block;">
                    <h4> Password Confirmation </h4>
                    {{  form.password2 }}
                </label>

                <br></br>
                <input type="submit" value="Register" class="btn btn-lg btn-secondary convert_button" />

            </div>
        </form>
    <p class="text-center">If you already have an account, <a href="{% url 'user_login' %}">login</a> instead.</p>
    </div>
{% endblock %}
